{{ template "header.html" . }}

<div class="container-fluid bg-dark p-2">
    <div class="row">
        <button class="navbar-toggler" style="background-color: #040404e0" type="button">
            <a href="/">
                <img src="/app-images/logo-silver.png" style="width: fit-content; max-width: 120px">
            </a>
        </button>
        &nbsp; &nbsp; &nbsp;
    </div>
</div>

<div class="container p-2">

    <h6 class="text-light p-2 text-center font-weight-bold text-uppercase">
        Manage all your Digital Secrets in one place
    </h6>

    <div class="container bg-dark text-success text-center rounded p-3">
        <h6>
            <em>Passman</em> is the last manager you'll need to keep all your Passwords, Secrets and sensitive Files safe.
            <br>
            Just remember one master-password and let <em>Passman</em> handle everything else.
            <br>
            Available across all your devices
            <br>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <img src="/app-images/about_page/desktop.png" class="img-fluid pb-2">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <img src="/app-images/about_page/mobile.png" class="img-fluid pb-2">
                </div>
                <div class="col-md-3"></div>
            </div>
        </h6>
    </div>

    <br>

    <div class="container bg-light text-dark text-center rounded p-3">
        <a href="/createUser">
            <h5 class="font-weight-bold text-primary" style="font-variant: small-caps;">
                Create free account now
            </h5>
        </a>
    </div>

    <br>

    <div class="container bg-dark text-light text-center rounded p-3">

        <h6 class="font-weight-bold text-uppercase text-light">Features</h6>
        <br>

        <div class="row">
            <div class="col-md-4" style="font-variant: small-caps;">
                <img src="/app-images/about_page/strong_passwords.png" class="img-fluid pb-2">
                Generate strong, unique passwords
            </div>
            <div class="col-md-4" style="font-variant: small-caps;">
                <img src="/app-images/about_page/aliases.png" class="img-fluid pb-2">
                Use multiple-aliases with any Website
            </div>
            <div class="col-md-4" style="font-variant: small-caps;">
                <img src="/app-images/about_page/regenerate.png" class="img-fluid pb-2">
                Regenerate passwords to comply with password-rotation policies
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="font-variant: small-caps;">
                <img src="/app-images/about_page/secrets.png" class="img-fluid pb-2">
                Save your Secret Notes
            </div>
            <div class="col-md-4" style="font-variant: small-caps;">
                <img src="/app-images/about_page/files.png" class="img-fluid pb-2">
                Upload sensitive Files
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>

    <br>

    <div class="container bg-light text-dark text-center rounded p-3">
        <h6 class="font-weight-bold text-uppercase text-dark">Client-side Encryption</h6>
        <br>

        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                All your Passwords and Secure-Notes are encrypted and decrypted in the <em>Browser/Client</em>
                <br>
                <br>
                Why should you care?
                <br>
                <em>Client-side encryption means that your data never exists in its plain (unencrypted) form outside of your computer.</em>
                <br>
                <br>
                Using Passman on a sketchy network? 
                <br>
                No problem. Your plain data does not travel over the network.
                <br>
                <br>
                Passman's servers get compromised?
                <br>
                No problem. Even our own engineers (or anybody else with admin access) cannot read your data (even if they wanted to)
                <br>
                <br>
                <strong>Bottom line: Your data is only readable by you</strong><br>
                (and by anybody else you willingly hand over your master-password to)<br> (So maybe that incudes your uber-driver - we don't tell you how to live your life)

                <hr>
                <p class="text-secondary">For more information please check out the <a href="/faq" target="_blank">FAQ</a> page</p>

            </div>

            <div class="col-md-2"></div>
        </div>

        
    </div>

    <br>
    <br>

    <div class="container bg-dark text-light text-center rounded p-3">
        <h6 class="font-weight-bold text-uppercase text-warning">One other thing</h6>
        <br>
        Never forget your master-password<br>
        If you do, we cannot help you recover your data because, like we said, we literally cannot read your data.
    </div>


</div>

{{ template "footer.html" . }}
