{{ template "app_login_header_template.html" . }}

<script>
    function encryptPasswords() {
        // Overwrite password by hashing it

        var masterPasswordField = document.getElementById('master-password');
        if (masterPasswordField == null || masterPasswordField.value == null) {
            return;
        }
        masterPasswordField.value = sha512(masterPasswordField.value);

        var retypePasswordField = document.getElementById('retype-master-password');
        if (retypePasswordField == null || retypePasswordField.value == null) {
            return;
        }
        retypePasswordField.value = sha512(retypePasswordField.value);
    }
</script>

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="inset col-10 col-md-8 col-lg-6 rounded border border-secondary pb-3">

            <form class="form-example" action="#" method="post">

                <div class="row h-100 justify-content-center align-items-center pt-2 pb-2" style="background-color: #040404e0">
                    <img src="/app-images/logo-silver.png" style="width: fit-content; max-width: 200px">
                </div>

                <hr/>

                {{ if .HasError }}
                    <div>
                        <p class="text-danger">
                            {{ .ErrorString }}
                        </p>
                    </div>
                {{ end}}


                <h4 class="text-center">Reset Account Password</h4>
                <br/>


                <div class="form-group">
                    <input type="password" class="form-control password" id="master-password" placeholder="New Password..." name="new_password">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control password" id="retype-master-password" placeholder="Retype Password..." name="retype_password">
                </div>

                <div class="row h-100 justify-content-center align-items-center pl-3 pr-3">
                    <button type="submit" id="resetPasswordButton" class="action-button btn btn-block border border-light" onclick="encryptPasswords()"><h5 class="text-muted">Reset Password</h5></button>
                </div>

                <hr/>

                <div>
                    <a href="login" class="text-primary"><< Login</a>
                </div>

            </form>

        </div>
    </div>
</div>

{{ template "app_login_footer_template.html" . }}
