<!doctype html>
<html lang="en" class="h-100">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Passman</title>

    <!-- Required Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600">

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/app-images/icon.png">
    <link rel="apple-touch-icon-precomposed" href="/app-images/icon.png">

    <style>

        body, html {
            height: 100%;
        }
        .bg {
            /* The image used */
            background-image: url("/app-images/safe.jpg");

            /* Full height */
            height: 100%;

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .inset {
            background-color: rgba(200, 200, 200, 0.85);

            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
        }

        .action-button {
            background-color: rgba(230, 240, 230, 1.0);
        }

    </style>

    <script>
        function encrypt(body, secret) {
            return CryptoJS.AES.encrypt(body, secret);
        }

        function decrypt(encrypted, secret) {
            return CryptoJS.AES.decrypt(encrypted, secret).toString(CryptoJS.enc.Utf8);
        }

        function generatePassword(length) {
            length = (length > 4) ? length : 5;
            var lower = "abcdefghijklmnopqrstuvwxyz";
            var upper = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var numbers = "1234567890";
            var special = "!@#$%^&*()-+<>";
            var chars = lower + upper + numbers + special;

            var password = "";
            for (var x = 0; x < (length - 4); ++x) {
                var i = Math.floor(Math.random() * chars.length);
                password += chars.charAt(i);
            }
            password += lower.charAt(Math.floor(Math.random() * lower.length));
            password += upper.charAt(Math.floor(Math.random() * upper.length));
            password += numbers.charAt(Math.floor(Math.random() * numbers.length));
            password += special.charAt(Math.floor(Math.random() * special.length));

            var passwordArray = password.split('');
            for (var n = 0; n < 200; ++n) {
                var i = Math.floor(Math.random() * length);
                var j = Math.floor(Math.random() * length);
                var temp = passwordArray[i];
                passwordArray[i] = passwordArray[j];
                passwordArray[j] = temp;
            }
            password = passwordArray.join('');

            return password;
        }

        function onBodyLoaded() {
            var passwordElement = document.getElementById("view-password");
            if (passwordElement == null) {
                return;
            }

            var masterPassword = window.sessionStorage.getItem('pamp');
            if (masterPassword == null) {
                window.location.replace("/login");
                return;
            }

            var password = decrypt(passwordElement.innerHTML, masterPassword);
            passwordElement.innerHTML = password;
        }
    </script>
</head>

<body class="bg h-100" onload="onBodyLoaded()">

<div class="pos-f-t">

    <nav class="navbar navbar-dark bg-dark">
        <button class="navbar-toggler" style="background-color: #040404e0" type="button" data-toggle="collapse" data-target="#headerCollapsible" aria-controls="headerCollapsible" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/app-images/logo-silver.png" style="width: fit-content; max-width: 120px">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="collapse" id="headerCollapsible">
        <div class="bg-dark p-4 text-light">

            <hr/>
            <h5>
                <a href="/about" target="_blank" class="text-info">About PassMan</a>
            </h5>
            <h5>
                <a href="/faq" target="_blank" class="text-info">Frequently Asked Questions</a>
            </h5>

            <hr/>

            <small class="text-secondary">Logged in as: </small>{{ .Username }}
            <br/>
            <a href="/logout" class="text-warning"><u>Log out</u></a>
        </div>
    </div>
</div>

