<div class="card">
    <div class="card-header" id="user-website-name">
        <h2 class="mb-0">
            <button class="btn btn-block" type="button" data-toggle="collapse" data-target="#{{ .WebsiteNameEscaped }}" aria-expanded="false" aria-controls="{{ .WebsiteNameEscaped }}">
                <div class="row">
                    <div class="col-md-6 text-left text-primary">
                        {{ .WebsiteName }}
                    </div>
                </div>
            </button>
        </h2>
    </div>

    <div id="{{ .WebsiteNameEscaped }}" class="collapse" aria-labelledby="user-website-name" data-parent="#user-website-name">
        <div class="card-body">

            <div class="d-flex justify-content-between">
                <label class="small text-muted">
                        Aliases for {{ .WebsiteName }}:
                </label>
                <button type="button" class="btn btn-danger btn-sm float-right" data-toggle="modal" data-target="#deleteWebsiteModal_{{ .WebsiteNameEscaped }}" title="Delete Website">
                    <img src="/app-images/delete_icon.png">
                </button>
            </div>

            <br>

            <div class="container-fluid">
                <ul class="list-group">
                    <li class="list-group-item">
                        {{ range .UserAliases }}
                            <span>
                                <div class="btn-group pt-2 pb-2" role="group">
                                    <form method="POST">
                                        <input type="hidden" name="websiteName" value="{{ $.WebsiteName }}">
                                        <input type="hidden" name="userAlias" value="{{ .Alias }}">
                                        <button type="submit" formaction="/viewPassword" id="view_password_button" class="btn btn-primary btn-sm">
                                            {{ .Alias }}&nbsp;<img src="/app-images/view_icon.png">
                                        </button>
                                        <a href="#" target="_blank" class="btn btn-warning btn-sm border border-secondary rounded-right small" data-toggle="modal" data-target="#changePasswordModal_{{ $.WebsiteNameEscaped }}_{{ .AliasEscaped }}">
                                            <img src="/app-images/regenerate_icon.png">
                                        </a>
                                        <a href="#" target="_blank" class="btn btn-danger btn-sm border border-secondary rounded-right small" data-toggle="modal" data-target="#deleteUserAliasModal_{{ $.WebsiteNameEscaped }}_{{ .AliasEscaped }}">
                                            <img src="/app-images/delete_icon.png">
                                        </a>
                                    </form>
                                </div>
                            </span>


                            <!-- Regenerate Password Modal -->
                            <div class="modal fade" id="changePasswordModal_{{ $.WebsiteNameEscaped }}_{{ .AliasEscaped }}" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="changePasswordModalLabel">Generate New Password for {{ .Alias }} @ {{ $.WebsiteName }} ?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <form id="generateNewPassword_{{ $.WebsiteNameEscaped }}_{{ .AliasEscaped }}" method="post" action="/generateNewPassword">

                                            <div class="modal-body">
                                                <div class="input-group mb-3">
                                                    <h6 class="text-secondary">This action cannot be undone.</h6>
                                                    <br/>
                                                    <input type="hidden" name="websiteName" value="{{ $.WebsiteName }}">
                                                    <input type="hidden" name="userAlias" value="{{ .Alias }}">
                                                    <input type="hidden" id="passwordEncrypted_{{ $.WebsiteNameEscaped }}_{{ .AliasEscaped }}" name="passwordEncrypted" value="placeholder--will-be-set-by-js">
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" id="close_button" data-dismiss="modal">Close</button>
                                                <button type="button" id="change_password_button" formaction="/generateNewPassword" onclick="generatePasswordInElementAndSubmit('passwordEncrypted_{{ $.WebsiteNameEscaped }}_{{ .AliasEscaped }}', 'generateNewPassword_{{ $.WebsiteNameEscaped }}_{{ .AliasEscaped }}')" class="btn btn-primary">Generate New Password</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!-- Delete UserAlias Modal -->
                            <div class="modal fade" id="deleteUserAliasModal_{{ $.WebsiteNameEscaped }}_{{ .AliasEscaped }}" tabindex="-1" role="dialog" aria-labelledby="deleteUserAliasModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteUserAliasModalLabel">Delete user-alias {{ .Alias }} @ {{ $.WebsiteName }} ?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <form id="deleteUserAlias_{{ $.WebsiteNameEscaped }}_{{ .AliasEscaped }}" method="post" action="/deleteUserAlias">

                                            <div class="modal-body">
                                                <div class="input-group mb-3">
                                                    <h6 class="text-secondary">This action cannot be undone.</h6>
                                                    <br/>
                                                    <input type="hidden" name="websiteName" value="{{ $.WebsiteName }}">
                                                    <input type="hidden" name="userAlias" value="{{ .Alias }}">
                                                </div>

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" id="close_button" data-dismiss="modal">Close</button>
                                                <button type="submit" id="delete_user_alias_button" onclick="showLoadingSpinner('delete_user_alias_button')" class="btn btn-danger">Delete</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>

                            &nbsp;
                        {{ end }}
                        <span>
                            <div class="btn-group pt-2 pb-2" role="group">
                                <a href="#" target="_blank" class="btn btn-success btn-sm border border-dark small" data-toggle="modal" data-target="#addNewUserAliasModal_{{ .WebsiteNameEscaped }}">
                                    Add New&nbsp;<img src="/images/plus.png">
                                </a>
                            </div>
                        </span>

                        <!-- Add new user-alias to website modal -->
                        <div class="modal fade" id="addNewUserAliasModal_{{ .WebsiteNameEscaped }}" tabindex="-1" role="dialog" aria-labelledby="addNewUserAliasModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-dark text-light">
                                        <h5 class="modal-title" id="addNewUserAliasModalTitle">Add New User Alias for {{ .WebsiteName }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" class="text-light">&times;</span>
                                        </button>
                                    </div>

                                    <form id="addUserAlias_{{ .WebsiteNameEscaped }}" action="/addNewWebsite" method="POST" onkeydown="return event.key != 'Enter';">
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <input type="hidden" id="newWebsiteWebsiteName" name="websiteName" value="{{ .WebsiteName }}">
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">New User Alias</span>
                                                    </div>
                                                    <input type="text" id="newWebsiteUserAlias" name="userAlias" class="form-control" placeholder="john.galt" aria-label="User Alias" aria-describedby="basic-addon1">
                                                </div>
                                                <input type="hidden" id="passwordEncrypted_{{ .WebsiteNameEscaped }}" name="passwordEncrypted" value="placeholder--will-be-set-by-js">
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" id="add_new_user_alias_button" onclick="generatePasswordInElementAndSubmit('passwordEncrypted_{{ .WebsiteNameEscaped }}', 'addUserAlias_{{ .WebsiteNameEscaped }}')" class="btn btn-primary">Add</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!-- Delete Website Modal -->
<div class="modal fade" id="deleteWebsiteModal_{{ .WebsiteNameEscaped }}" tabindex="-1" role="dialog" aria-labelledby="deleteWebsiteModalTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
             <div class="modal-header bg-dark text-light">
                 <h5 class="modal-title" id="deleteWebsiteModalTitle">Delete Website: {{ .WebsiteName }} ?</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true" class="text-light">&times;</span>
                 </button>
             </div>

             <form action="/deleteWebsite" method="POST">
                 <div class="modal-body">
                     <div class="form-group">
                        <h6 class="text-secondary">This action cannot be undone.</h6>
                        <br/>
                        <input type="hidden" name="websiteName" value="{{ $.WebsiteName }}">
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" id="close_button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                     <button type="submit" id="delete_website_button" onclick="showLoadingSpinner('delete_website_button')" class="btn btn-danger">Delete</button>
                 </div>
             </form>
         </div>
     </div>
 </div>