<br/>
<br/>

<div class="container">
    <br/>

    <div class="row">
        <div class="container-fluid">
            <form method="POST" action="/addFileToVault" enctype="multipart/form-data" target="_blank">

                <input type="file" name="fileForVault">

                <button type="submit" class="btn btn-block action-button border border-info rounded float-left">
                    <h5 class="text-muted"><img src="/images/plus.png" style="margin-bottom: 4px">&nbsp;&nbsp;Add New File</h5>
                </button>

            </form>
        </div>
    </div>

    <br/>

    <div>
    </div>

    <br/>


</div>

