<li class="list-group-item">


        <div class="btn-toolbar justify-content-between" role="toolbar">

            <div class="btn-group w-75" role="group">

                <form id="downloadFileForm_{{ .FileNameEscaped }}" method="POST" action="/downloadFileFromVault" target="_blank">
                    <button type="button" onclick="setFilePasswordAndSubmit('{{ .FileName }}', 'filePassword_{{ .FileNameEscaped }}', 'downloadFileForm_{{ .FileNameEscaped }}')" class="btn btn-warning" title="Download File">
                        {{ .FileName }}
                        &nbsp;&nbsp;&nbsp;
                        <img src="/images/download_icon.png">
                        <input type="hidden" name="fileName" value="{{ .FileName }}">
                        <input type="hidden" id="filePassword_{{ .FileNameEscaped }}" name="filePassword" value="placeholder-will-be-set-in-javascript">
                    </button>
                </form>

            </div>

            <div class="btn-group" role="group">
                <form method="POST">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteFileModal_{{ .FileNameEscaped }}" title="Delete File">
                        <img src="/app-images/delete_icon.png">
                    </button>
                </form>
            </div>
        </div>



</li>

