{{ template "home_header_template.html" . }}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">

        <div class="col-md-3 col-sm-1"></div>

        <div class="col-md-6 col-sm-10 inset p-4 border border-secondary rounded">

            <div class="container-fluid">
                <h6 class="text-dark text-muted text-center">Secret: {{ .SecretName }}</h6>
                <div class="container-fluid bg-dark border border-rounded border-info">
                    <br/>
                    <pre id="view-secret" class="text-light font-weight-bold" style="white-space: pre-wrap">{{ .SecretEncrypted }}</pre>
                    <textarea id="view-secret-copy-target" value="" style="position: absolute; left: -9999px; top: -9999px;"></textarea>
                    <div class="row">
                        <div class="container-fluid">
                            <button id="copyButton" class="btn btn-link text-info float-right" onclick="copySecretToClipboard()">copy</button>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="row h-100 justify-content-center align-items-center pl-3 pr-3">
                <a href="/">
                    <button type="button" class="action-button btn btn-lg border-light">❮ ❮ &nbsp;Home</button>
                </a>
            </div>
        </div>

        <div class="col-md-3 col-sm-1"></div>

    </div>
</div>

<script>

    function copySecretToClipboard() {

        var secretElement = document.getElementById("view-secret")
        if (secretElement == null) {
            return;
        }

        var copyTarget = document.getElementById("view-secret-copy-target")
        if (copyTarget == null) {
            return;
        }

        copyTarget.value = (secretElement.innerText);
        copyTarget.select();
        copyTarget.setSelectionRange(0, 999999); // For mobile devices
        document.execCommand("copy");

        var copyButton = document.getElementById("copyButton");
        copyButton.innerHTML = "copied!";
    }

</script>

{{ template "home_footer_template.html" . }}